:root{
  font-size: 62.5%;

  --bg-color: #242526;
  --bg-sec-color: #18191A;
  --bg-ter-color: #8e44ad;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 4.5px;
  height: 4.5px;
  background: transparent;
}

::-webkit-scrollbar-track {
  width: 4.5px;
  height: 4.5px;
  transition: .5s;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-sec-color);
  border-radius: 10px;
}

header,
main,
.center_container,
footer{
  width: 100%;
}

header{
  height: 15%;
  padding: 0 30px;

  background-color: var(--bg-color);

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.title_container{
  width: 20%;
  min-width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header_title_barrier{
  height: 50px;
  width: 2px;
  background-color: white;
  user-select: none;
}
.header_title_icon{
  font-size: 60px;
  color: white;
  user-select: none;
}
.header_title_text{
  width: 20%;
  color: white;
  font-size: 20px;
  font-weight: 800;
  user-select: none;
}

.user_container{
  width: 25%;
  min-width: 300px;
  height: 50%;

  display: flex;
  justify-content: space-around;
  align-items: center;

}

.user_info_container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

.user_state, .user_state_id{
  color: white;
  font-size: 1rem;
  font-weight: 700;

}

.user_state_id{
  transition: 0.5s;
}

.avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.nav_login_button{
  width: 20%;
  height: 40%;
}

main{
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background: url(/assets/woods.png);
  background-size: cover;

  padding: 0 200px;
}

.main_tittle{
  color: white;
  background: var(--bg-sec-color);
  opacity: 75%;

  min-width: 300px;
  border-radius: 10px;

  font-weight: 800;
  font-size: 30px;

  transition: 3s;
}

.center_container{
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main_container{
  min-width: 200px;
  opacity: 95%;
}

.main_post_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  flex: 0.35;
  background-color: var(--bg-color);
  overflow: auto;
}

.post_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 70%;
  min-height: 150px;
  max-height: 150px;
  margin-top: 5px;

  border: 2px solid var(--bg-sec-color);
  border-radius: 5px;
}

.interaction_container{
  width: 100%;
  height: 5%;
  background-color: var(--bg-sec-color);
}

.post_content{
  height: fit-content;
  max-height: 300px;
  overflow: auto;
  padding: 1rem;
}

.post_title{
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  font-family: sans-serif;

  margin-bottom: .8rem;
}


.post_description{
  font-size: 10px;
  margin: 5px;
  color: white;
}

.post_info_container{
  height: 15%;
  padding: 0 129px 0 3px;
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--bg-sec-color);
}

.post_avatar{
  height: 20px;
  border: 0.1px solid var(--bg-color);
  width: 20px;
  border-radius: 50%;
}

.post_name{
  font-size: 8px;
  font-weight: 700;
  color: white;
}



.main_login_container{

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
  background-color: var(--bg-color);
  flex: 0.35;
}

.main_login_container h1{
  color: white;
  font-size: 20px; 
  text-align: center;
  margin: 50px 30px;
  min-width: 100px;
}

.login_x_container{
  width: 98%;
  display: flex;
  justify-content: flex-end;
}

.login_x_container a{
  background-color: #7c0c0c;
  padding: 2px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

form{
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

form input{
  outline: none;
  padding: 3px;
  margin: 10px;

  text-align: center;
  color: white;

  background-color: transparent;

  border:3px solid var(--bg-sec-color);
  border-radius: 10px;

  transition: 0.5s;
}

form input:focus{
  border: 3px solid var(--bg-ter-color);
  background-color: var(--bg-sec-color);
}

.button_container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 50%;
}

.login_button{
  width: 30%;
  
  background-color: var(--bg-ter-color);
  color: white;
  font-weight: 800;

  border: none;
  border-radius: 5px;

  cursor: pointer;

  transition: 0.5s;
}


.create_button{
  width: 30%;
  background-color: var(--bg-ter-color);
  color: white;
  font-weight: 800;

  border: none;
  border-radius: 5px;

  cursor: pointer;

  transition: 0.5s;
}

.rodape{
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  color: white;
  background-color: var(--bg-color);
  font-size: 12px;
  
}

.rodape_main_icon{
  font-size: 50px;
}

.fade_out{
  opacity: 0;
}